body {
    margin: 0;
    text-align: center;
    font-family: "Sf Pro Display", helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    width: 10%;
    margin: 0 auto;
}

 
.Banner-principal {
    background-color: #0c5535;
    position: relative;
    padding-top: 100px;
}

.sobre-nos {
    width: 50%;
    margin: 100px auto 100px auto;
}

.nossos-servicos {
    width: 50%;
    margin: 100px auto 100px auto 100px;
}

.imagem-servicos {
    float: left;
}

#nuvem-cima {
    position: absolute;
    right: 400px;
    top: 50px;
}

#nuvem-baixo {
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.sobre-nos {
    position: relative;
}
    
